Repository Sysvale/cuida, pull requests merged in 2021-04, with the labels that each got.

#168 Muda tokens de 'peso da fonte' de mixin para variáveis
  src/assets/sass/variables/typography.scss
  src/components/FilterPill.vue
  src/components/Totalizer.vue
  src/docs-components/TypographyList.vue
Labels: 🐛 Bug, 🧩 Token

#169 Adiciona props de tamanho no ToggleSwitch
  src/components/ToggleSwitch.vue
  tests/unit/__snapshots__/ToggleSwitch.spec.js.snap
Labels: 🐛 Bug

#171 Remove arquivos relacionados ao componente StatusItem
  .storybook/preview.js
  src/components/StatusItem.vue
  src/components/index.js
  src/stories/components/StatusItem.stories.mdx
  tests/unit/StatusItem.spec.js
  tests/unit/__snapshots__/StatusItem.spec.js.snap
Labels: 🧱 Componente

#170 Insere ModalWindow dentro do filterpill
  .storybook/preview.js
  src/components/FilterPill.vue
  src/components/ModalWindow.vue
  src/components/index.js
  src/stories/components/FilterPill.stories.mdx
  src/stories/components/ModalWindow.stories.mdx
Labels: 🧱 Componente
