Repository Sysvale/cuida, pull requests merged in 2021-07, with the labels that each got.

#180 Feature/improve upload input selection area
  package.json
  src/components/UploadInput.vue
Labels: 🐛 Bug

#181 Feature/tooltip slot in slider
  package.json
  src/components/Slider.vue
Labels: 🐛 Bug

#182 Feature/update vue slider dependency version
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/Slider.vue
  src/entry.js
Labels: 🐛 Bug, 🛠️ Build

#183 Hotfix/v model in slider
  package.json
  src/components/Slider.vue
Labels: 🐛 Bug

#184 Feature/toggle switch size api
  package.json
  src/components/ToggleSwitch.vue
  tests/unit/__snapshots__/ToggleSwitch.spec.js.snap
Labels: 🐛 Bug

#185 Feature/process slot in slider
  package.json
  src/components/Slider.vue
Labels: 🐛 Bug

#186 Hotfix/borders tokens
  build/rollup.config.js
  package.json
Labels: 🛠️ Build

#174 Hotfix/principles text
  .storybook/preview.js
  package.json
  src/stories/tokens/Principios.stories.mdx
Labels: 📃 Documentação, 🧩 Token

#187 Hotfix/slider stylish
  package.json
  src/components/Slider.vue
Labels: 🐛 Bug
