Repository Sysvale/cuida, pull requests merged in 2021-03, with the labels that each got.

#131 Feature/improve readme
  README.md
  package.json
Labels: 📃 Documentação

#137 Melhora a precisão do labeler
  .github/labeler.yml
  package.json
Labels: ⭐ Melhoria, 🛠️ Build

#136 Implementa recurso de exibição do código fonte
  .storybook/preview-head.html
  .storybook/preview.js
  package-lock.json
  package.json
  src/docs-components/SourceCodeWrapper.vue
  src/docs-components/index.js
  src/stories/components/ActionsList.stories.mdx
  src/stories/components/AlertCard.stories.mdx
  src/stories/components/Badge.stories.mdx
  src/stories/components/Calendar.stories.mdx
  src/stories/components/DrowDown.stories.mdx
  src/stories/components/EmptyState.stories.mdx
  src/stories/components/ExpansionCard.stories.mdx
  src/stories/components/FilterPill.stories.mdx
  src/stories/components/Highlight.stories.mdx
  src/stories/components/ModalWindow.stories.mdx
  src/stories/components/NavBar.stories.mdx
  src/stories/components/Popover.stories.mdx
  src/stories/components/ProgressBar.stories.mdx
  src/stories/components/ProgressCircular.stories.mdx
  src/stories/components/RadioButtonGroup.stories.mdx
  src/stories/components/Scrollable.stories.mdx
  src/stories/components/SideSheet.stories.mdx
  src/stories/components/Slider.stories.mdx
  src/stories/components/StatusItem.stories.mdx
  src/stories/components/Stepper.stories.mdx
  src/stories/components/StepperInput.stories.mdx
  src/stories/components/Timeline.stories.mdx
  src/stories/components/Totalizer.stories.mdx
  src/stories/components/UploadInput.stories.mdx
Labels: ⭐ Melhoria, 📃 Documentação

#138 Adiciona passo de build no publish.yml
  .github/workflows/publish.yml
  package.json
Labels: 🛠️ Build

#140 Passa a iniciar o container no publish.yml
  .github/workflows/publish.yml
  package.json
Labels: 🛠️ Build

#142 Atualiza o workflow de publishing
  .github/workflows/publish.yml
  package.json
Labels: 🛠️ Build

#143 Corrige o publish.yml
  .github/workflows/publish.yml
Labels: 🛠️ Build

#117 Feature/iconography
  .storybook/preview-head.html
  .storybook/preview.js
  package-lock.json
  package.json
  src/docs-components/Iconography.vue
  src/docs-components/index.js
  src/stories/components/FilterPill.stories.mdx
  src/stories/tokens/Iconografia.stories.mdx
Labels: 📃 Documentação, 🧩 Token

#135 Feature/typography token docs improvement
  .storybook/preview.js
  package.json
  src/docs-components/BorderBuilder.vue
  src/docs-components/CopyToken.vue
  src/docs-components/TypographyList.vue
  src/docs-components/index.js
  src/stories/tokens/Tipografia.stories.mdx
Labels: 📃 Documentação, 🧩 Token

#147 Implementa o componente ToggleSwitch
  .storybook/preview.js
  package.json
  src/components/ToggleSwitch.vue
  src/components/index.js
  src/stories/components/ToggleSwitch.stories.mdx
  tests/unit/ToggleSwitch.spec.js
  tests/unit/__snapshots__/ToggleSwitch.spec.js.snap
Labels: 🧱 Componente

#146 Adiciona componente PanelCard
  .storybook/preview.js
  package.json
  src/components/PanelCard.vue
  src/components/index.js
  src/docs-components/SourceCodeWrapper.vue
  src/stories/components/PanelCard.stories.mdx
  tests/unit/PanelCard.spec.js
  tests/unit/__snapshots__/PanelCard.spec.js.snap
Labels: 🧱 Componente

#148 Remove temporariamente os tokens de bordas no build
  build/rollup.config.js
  package.json
Labels: 🛠️ Build
