Repository Sysvale/cuida, pull requests merged in 2022-12, with the labels that each got.

#385 fix/select-v-model
  package.json
  src/components/Select.vue
Labels: 🐛 Bug

#388 Adiciona props mask
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/TextInput.vue
  tests/unit/TextInput.spec.js
Labels: 🐛 Bug

#391 fix: Adiciona logica do slot para o componente callout card
  package-lock.json
  package.json
  src/components/CalloutCard.vue
Labels: 🐛 Bug

#394 fix/vue-long-click-export
  .storybook/preview.js
  package.json
  src/entry.js
Labels: 🛠️ Build

#395 fix/input-facade-export
  package.json
  src/entry.js
Labels: 🛠️ Build

#396 Hotfix/text input conditional mask
  package.json
  src/components/TextInput.vue
Labels: 🐛 Bug

#397 Feature/text input info icon slot
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/TextInput.vue
Labels: 🐛 Bug

#398 Feature/cuida icons 1.5
  package.json
  src/entry.js
  src/utils/constants/iconsData.js
  src/utils/directives/cdstip.js
Labels: 🛠️ Build

#399 fix: Resolve problema no slot do botão
  src/components/Button.vue
Labels: 🐛 Bug

#400 fix: Resolve problema no slot do actionList
  src/components/ActionsList.vue
Labels: 🐛 Bug

#401 Feature/select tooltip
  package-lock.json
  package.json
  src/components/Select.vue
  tests/unit/__snapshots__/ClusteredMultiselect.spec.js.snap
  tests/unit/__snapshots__/Select.spec.js.snap
Labels: 🐛 Bug, ⭐ Melhoria

#403 Fix/adds help icon in icon list
  package.json
  src/utils/constants/iconsData.js
Labels: ⭐ Melhoria

#393 feat: Cria componente ActionBar
  .storybook/preview.js
  package.json
  src/components/ActionBar.vue
  src/components/Button.vue
  src/components/index.js
  src/stories/components/ActionBar.stories.mdx
  tests/unit/ActionBar.spec.js
  tests/unit/__snapshots__/ActionBar.spec.js.snap
Labels: 🧱 Componente

#404 feature/select-tracking-values-props
  package.json
  src/components/Select.vue
  src/stories/components/Select.stories.mdx
Labels: ⭐ Melhoria

#408 Implementa componente PageHeader
  .storybook/preview.js
  package.json
  src/components/PageHeader.vue
  src/components/index.js
  src/stories/components/PageHeader.stories.mdx
Labels: 🧱 Componente
