Repository Sysvale/cuida, pull requests merged in 2022-09, with the labels that each got.

#288 Feature/updates badge style
  package-lock.json
  package.json
  src/assets/sass/colors.scss
  src/assets/sass/fontWeight.scss
  src/assets/sass/tokens.scss
  src/assets/sass/typography.scss
  src/components/Badge.vue
  src/stories/components/Badge.stories.mdx
  vite.config.ts
Labels: 🧱 Componente, 🛠️ Build

#300 Feature/tabs component
  .storybook/preview.js
  package.json
  src/components/Tabs.vue
  src/components/index.js
  src/stories/components/Tabs.stories.mdx
  src/utils/constants/colors.js
  tests/unit/Tabs.spec.js
  tests/unit/__snapshots__/Tabs.spec.js.snap
Labels: 🧱 Componente

#303 feature/callout-card
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/CalloutCard.vue
  src/components/index.js
  src/stories/components/CalloutCard.stories.mdx
  tests/unit/CalloutCard.spec.js
  tests/unit/__snapshots__/CalloutCard.spec.js.snap
Labels: 🧱 Componente

#305 Adiciona estilo de hover na ação de adicionar do Tabs
  package.json
  src/components/Tabs.vue
Labels: 🐛 Bug

#301 Feature/cds button in empty state
  package.json
  src/components/Button.vue
  src/components/EmptyState.vue
  src/stories/components/EmptyState.stories.mdx
  tests/unit/EmptyState.spec.js
  tests/unit/__snapshots__/EmptyState.spec.js.snap
Labels: ⭐ Melhoria

#310 Bugfix/badge style
  package-lock.json
  package.json
  src/components/Badge.vue
Labels: 🐛 Bug

#312 Feature/inner-tabs
  .storybook/preview.js
  package.json
  src/components/InnerTabs.vue
  src/components/index.js
  src/stories/components/InnerTabs.stories.mdx
  tests/unit/InnerTabs.spec.js
Labels: 🧱 Componente

#313 Fix/select-style-when-exported
  package.json
  src/components/Select.vue
Labels: 🐛 Bug

#316 Feature/dashboardCard
  .storybook/preview.js
  package.json
  src/components/DashboardCard.vue
  src/components/index.js
  src/stories/components/DashboardCard.stories.mdx
  tests/unit/Card.spec.js
  tests/unit/__snapshots__/Card.spec.js.snap
Labels: 🧱 Componente

#318 Fix/badge font size
  package.json
  src/components/Badge.vue
Labels: 🐛 Bug

#320 style: remove largura fixa do card
  src/components/DashboardCard.vue
Labels: 🐛 Bug

#315 Feature/time input
  .storybook/preview.js
  package.json
  src/components/TimeInput.vue
  src/components/index.js
  src/stories/components/TimeInput.stories.mdx
  tests/unit/TimeInput.spec.js
  tests/unit/__snapshots__/TimeInput.spec.js.snap
Labels: 🧱 Componente

#321 feat: Cria componente CarouselController
  .github/ISSUE_TEMPLATE/Bug.md
  .storybook/preview.js
  docs/pull_request_template.md
  package.json
  src/components/CarouselController.vue
  src/components/index.js
  src/stories/components/CarouselController.stories.mdx
  tests/unit/CarouselController.spec.js
  tests/unit/__snapshots__/CarouselController.spec.js.snap
Labels: 🧱 Componente

#323 Hotfix/v calendar setup
  .storybook/preview.js
  package.json
  src/components/Calendar.vue
  src/entry.js
  tests/unit/Calendar.spec.js
Labels: 🐛 Bug, 🛠️ Build

#324 Hotfix/dashboard card action slot
  package.json
  src/components/DashboardCard.vue
Labels: 🐛 Bug

#325 fix: Altera gerenciamento de atributos passados para o vcalendar
  package.json
  src/components/Calendar.vue
Labels: 🐛 Bug

#328 Hotfix/calendar update
  package.json
  src/components/Calendar.vue
Labels: 🐛 Bug

#329 Feature/input
  .storybook/preview.js
  package.json
  src/components/TextInput.vue
  src/components/index.js
  src/stories/components/TextInput.stories.mdx
  tests/unit/TextInput.spec.js
  tests/unit/__snapshots__/TextInput.spec.js.snap
Labels: 🧱 Componente

#332 Hotfix/time input date management
  package.json
  src/components/TimeInput.vue
  src/utils/validators/time.js
  tests/unit/TimeInput.spec.js
Labels: 🐛 Bug
