Repository Sysvale/cuida, pull requests merged in 2022-10, with the labels that each got.

#333 Feature/dashboard card fluid
  package-lock.json
  package.json
  src/components/DashboardCard.vue
  tests/unit/Card.spec.js
  tests/unit/DashboardCard.spec.js
  tests/unit/__snapshots__/Card.spec.js.snap
  tests/unit/__snapshots__/DashboardCard.spec.js.snap
Labels: 🐛 Bug

#338 Feature/pagination
  .storybook/preview.js
  package.json
  src/components/Pagination.vue
  src/components/index.js
  src/entities/PaginationItem.js
  src/stories/components/Pagination.stories.mdx
  tests/unit/Pagination.spec.js
  tests/unit/__snapshots__/Pagination.spec.js.snap
Labels: 🧱 Componente

#339 Bugfix/input labels
  package-lock.json
  package.json
  src/components/Select.vue
  src/components/TimeInput.vue
  tests/unit/__snapshots__/Select.spec.js.snap
Labels: 🐛 Bug

#341 Hotfix/filter pill content
  package-lock.json
  package.json
  src/components/FilterPill.vue
  tests/unit/__snapshots__/FilterPill.spec.js.snap
Labels: 🐛 Bug

#342 Feature/text input sizes
  package.json
  src/components/TextInput.vue
  tests/unit/TextInput.spec.js
Labels: 🐛 Bug

#343 Feature/date input
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/DateInput.vue
  src/components/index.js
  src/stories/components/DateInput.stories.mdx
  tests/unit/DateInput.spec.js
  tests/unit/__snapshots__/DateInput.spec.js.snap
Labels: 🧱 Componente

#346 Hotfix/fix loading bar documentation
  package.json
  src/stories/components/LoadingBar.stories.mdx
Labels: 📃 Documentação

#345 Feature/standardize input labels
  package-lock.json
  package.json
  src/assets/sass/app.scss
  src/components/Select.vue
  src/components/TextInput.vue
  src/components/TimeInput.vue
  tests/unit/__snapshots__/Select.spec.js.snap
  tests/unit/__snapshots__/TimeInput.spec.js.snap
Labels: 🐛 Bug, 🧩 Token

#347 Feature/standardize button sizes
  package-lock.json
  package.json
  src/components/Button.vue
Labels: 🐛 Bug

#349 Corrige alinhamento de empty-state
  package.json
  src/components/EmptyState.vue
Labels: 🐛 Bug
