Repository Sysvale/cuida, pull requests merged in 2022-07, with the labels that each got.

#231 feature/contributing.md
  CONTRIBUTING.md
  README.md
Labels: 📃 Documentação

#233 feature/button
  .storybook/preview.js
  src/assets/sass/variables/borders.scss
  src/components/Button.vue
  src/components/index.js
  src/docs-components/BorderBuilder.vue
  src/stories/components/Button.stories.mdx
  src/utils/constants/colors.js
  tests/unit/Button.spec.js
  tests/unit/__snapshots__/Button.spec.js.snap
Labels: 🧱 Componente, 🧩 Token

#238 Feature/loader
  .storybook/preview.js
  src/components/Spinner.vue
  src/components/index.js
  src/stories/components/Spinner.stories.mdx
  tests/unit/Spinner.spec.js
  tests/unit/__snapshots__/Spinner.spec.js.snap
Labels: 🧱 Componente

#236 Feature/link
  .storybook/preview.js
  src/components/Link.vue
  src/components/index.js
  src/stories/components/Link.stories.mdx
Labels: 🧱 Componente

#234 Feature/radio
  .storybook/preview.js
  src/components/Radio.vue
  src/components/index.js
  src/stories/components/Radio.stories.mdx
  tests/unit/Radio.spec.js
  tests/unit/__snapshots__/Radio.spec.js.snap
Labels: 🧱 Componente

#232 draft: Workshop de alavangacagem v1
  .storybook/preview.js
  package.json
  src/assets/sass/variables/borders.scss
  src/components/Button.vue
  src/components/Checkbox.vue
  src/components/Link.vue
  src/components/Radio.vue
  src/components/Spinner.vue
  src/components/index.js
  src/docs-components/BorderBuilder.vue
  src/stories/components/Button.stories.mdx
  src/stories/components/Checkbox.stories.mdx
  src/stories/components/Link.stories.mdx
  src/stories/components/Radio.stories.mdx
  src/stories/components/Spinner.stories.mdx
  src/utils/constants/colors.js
  tests/unit/Button.spec.js
  tests/unit/Checkbox.spec.js
  tests/unit/Radio.spec.js
  tests/unit/Spinner.spec.js
  tests/unit/__snapshots__/Button.spec.js.snap
  tests/unit/__snapshots__/Checkbox.spec.js.snap
  tests/unit/__snapshots__/Radio.spec.js.snap
  tests/unit/__snapshots__/Spinner.spec.js.snap
Labels: 🧱 Componente, 🧩 Token

#239 Adiciona evento de clique com o direito na Navbar
  package.json
  src/components/NavBar.vue
Labels: 🐛 Bug

#241 Hotfix/navbar right click pointer event
  package.json
  src/components/NavBar.vue
Labels: 🐛 Bug

#249 Fix/tests
  src/components/Checkbox.vue
  src/components/Radio.vue
  tests/unit/Button.spec.js
  tests/unit/Radio.spec.js
  tests/unit/__snapshots__/Radio.spec.js.snap
Labels: 🐛 Bug
