Repository Sysvale/cuida, pull requests merged in 2022-08, with the labels that each got.

#255 Configura o prettier no projeto
  .github/ISSUE_TEMPLATE/Bug.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/workflows/prettier.yml
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/theme.js
  CONTRIBUTING.md
  README.md
  babel.config.js
  build/rollup.config.js
  docs/pull_request_template.md
  package-lock.json
  package.json
  src/entry.js
  src/utils/constants/colors.js
  src/utils/constants/keycodes.js
  src/utils/constants/paleteConstants.js
  tests/unit/ActionsList.spec.js
  tests/unit/AlertCard.spec.js
  tests/unit/ClusteredMultiselect.spec.js
  tests/unit/ExpansionCard.spec.js
  tests/unit/FilterPill.spec.js
  tests/unit/Highlight.spec.js
  tests/unit/Loader.spec.js
  tests/unit/NavBar.spec.js
  tests/unit/Popover.spec.js
  tests/unit/ProgressBar.spec.js
  tests/unit/ProgressCircular.spec.js
  tests/unit/SideSheet.spec.js
  tests/unit/Spinner.spec.js
  tests/unit/Stepper.spec.js
  tests/unit/StepperInput.spec.js
  tests/unit/UploadInput.spec.js
Labels: 🛠️ Build

#248 Feature/overlay docs
  package.json
  src/stories/components/Popover.stories.mdx
  src/stories/components/SideSheet.stories.mdx
Labels: 📃 Documentação

#237 feature/select
  .storybook/preview.js
  package.json
  src/components/Select.vue
  src/components/index.js
  src/stories/components/Select.stories.mdx
  src/utils/constants/sizes.js
  src/utils/constants/widths.js
  src/utils/index.js
  src/utils/methods/removeAccents.js
  tests/unit/Select.spec.js
  tests/unit/__snapshots__/Select.spec.js.snap
Labels: 🧱 Componente

#254 Atualiza a versão do storybook
  package-lock.json
  package.json
Labels: ⛓️ Dependências

#260 Adiciona novas shades à paleta de cores
  package.json
  src/assets/sass/variables/colors.scss
  src/utils/constants/paleteConstants.js
Labels: 🧩 Token

#261 Cria componente loadingBar
  .storybook/preview.js
  package.json
  src/components/LoadingBar.vue
  src/components/index.js
  src/stories/components/LoadingBar.stories.mdx
  tests/unit/LoadingBar.spec.js
  tests/unit/__snapshots__/LoadingBar.spec.js.snap
Labels: 🧱 Componente

#258 Cria component Alert
  .storybook/preview.js
  package.json
  src/components/Alert.vue
  src/components/index.js
  src/stories/components/Alert.stories.mdx
  tests/unit/Alert.spec.js
  tests/unit/__snapshots__/Alert.spec.js.snap
Labels: 🧱 Componente

#269 Altera estilo dos textos do empty state
  package.json
  src/components/EmptyState.vue
Labels: 🧱 Componente

#270 Feature/alert-sucess
  package.json
  src/assets/sass/variables/colors.scss
  src/components/Alert.vue
  src/stories/components/Alert.stories.mdx
  tests/unit/Alert.spec.js
Labels: 🧩 Token

#286 Feature/vitest config
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/tests/Badge.spec.ts
  src/tests/__snapshots__/Badge.spec.ts.snap
  vitest.config.ts
Labels: 🛠️ Build

#289 ajusta transicao de tooltip
  package.json
  src/components/Tooltip.vue
Labels: 🐛 Bug

#290 Feature/table
  .storybook/preview.js
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/components/Table.vue
  src/components/index.js
  src/stories/components/Table.stories.mdx
  tests/unit/Table.spec.js
  tests/unit/__snapshots__/Table.spec.js.snap
Labels: 🧱 Componente

#297 feature/skeleton-text
  .storybook/preview.js
  package.json
  src/components/SkeletonText.vue
  src/components/index.js
  src/stories/components/SkeletonText.stories.mdx
  tests/unit/SkeletonText.spec.js
  tests/unit/__snapshots__/SkeletonText.spec.js.snap
Labels: 🧱 Componente
