Repository Sysvale/cuida, pull requests merged in 2022-05, with the labels that each got.

#224 Feature/shadow tokens
  .storybook/preview.js
  build/rollup.config.js
  package.json
  src/assets/sass/variables.scss
  src/assets/sass/variables/shadows.scss
  src/docs-components/Shadows.vue
  src/docs-components/index.js
  src/stories/tokens/Shadow.stories.mdx
Labels: 📃 Documentação, 🛠️ Build, 🧩 Token

#225 Bugfix/refactor async tests
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/FilterPill.vue
  src/entry.js
  tests/unit/ActionsList.spec.js
  tests/unit/AlertCard.spec.js
  tests/unit/ClusteredMultiselect.spec.js
  tests/unit/ExpansionCard.spec.js
  tests/unit/FilterPill.spec.js
  tests/unit/SideSheet.spec.js
  tests/unit/Stepper.spec.js
  tests/unit/StepperInput.spec.js
  tests/unit/__snapshots__/FilterPill.spec.js.snap
  tests/unit/__snapshots__/StepperInput.spec.js.snap
Labels: 🐛 Bug, 🛠️ Build

#226 Feature/collapsible container
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/CollapsibleContainer.vue
  src/components/index.js
  src/stories/components/CollapsibleContainer.stories.mdx
  tests/unit/CollapsibleContainer.spec.js
  tests/unit/__snapshots__/CollapsibleContainer.spec.js.snap
Labels: 🧱 Componente
