Repository Sysvale/cuida, pull requests merged in 2023-08, with the labels that each got.

#555 Hotfix/export color picker
  package-lock.json
  package.json
  src/components/index.ts
Labels: 🧱 Componente, 🛠️ Build

#558 fix/popover-id
  package.json
  src/components/Popover.vue
Labels: 🐛 Bug

#559 Feature/sidebar
  package-lock.json
  package.json
  src/components/SideBar.vue
  src/components/index.ts
  src/stories/components/SideBar.stories.mdx
  src/tests/SideBar.spec.ts
  src/tests/__snapshots__/SideBar.spec.ts.snap
Labels: 🧱 Componente, 🛠️ Build

#560 Feature/file input preview
  package.json
  src/assets/sass/typography.scss
  src/components/Avatar.vue
  src/components/FileInput.vue
  src/components/Truncate.vue
  src/stories/components/Avatar.stories.mdx
  src/stories/components/FileInput.stories.mdx
Labels: 🧩 Token

#534 Feature/cds bar chart
  package-lock.json
  package.json
  src/components/BarChart.vue
  src/components/index.ts
  src/stories/components/BarChart.stories.mdx
  src/tests/BarChart.spec.ts
  src/tests/__snapshots__/BarChart.spec.ts.snap
Labels: 🧱 Componente, 🛠️ Build

#564 refactor: Corrige documentação do stories.mdx
  package.json
  src/stories/components/BarChart.stories.mdx
Labels: 📃 Documentação

#565 fix/fix-bar-chart
  package.json
  src/stories/components/BarChart.stories.mdx
Labels: 📃 Documentação

#568 Fix/sidebar link container route
  package.json
  src/components/SideBar.vue
Labels: 🐛 Bug
