Repository Sysvale/cuida, pull requests merged in 2023-01, with the labels that each got.

#411 Estilo de scrollbar para textarea
  package-lock.json
  package.json
  src/components/TextArea.vue
  tests/unit/__snapshots__/TextArea.spec.js.snap
Labels: 🐛 Bug

#414 Hotfix/fix two way data binding from select options
  package.json
  src/components/Select.vue
Labels: 🐛 Bug

#416 fix: typo
  package.json
  src/components/Select.vue
Labels: 🐛 Bug

#415 Feature/text input link
  package.json
  src/components/TextInput.vue
  tests/unit/__snapshots__/TextInput.spec.js.snap
Labels: 🐛 Bug

#418 Feature/date input manual date
  package.json
  src/components/DateInput.vue
  tests/unit/__snapshots__/DateInput.spec.js.snap
Labels: 🐛 Bug

#419 Bugfix/click checkbox
  package-lock.json
  package.json
  src/components/Checkbox.vue
  tests/unit/__snapshots__/Checkbox.spec.js.snap
Labels: 🐛 Bug

#420 fix: Remove o slot principal do ExpansionCard
  package.json
  src/components/ExpansionCard.vue
Labels: 🐛 Bug

#422 Ajusta altura e espaçamento do corpo do modal
  package-lock.json
  package.json
  src/components/Modal.vue
  tests/unit/Modal.spec.js
  tests/unit/__snapshots__/Modal.spec.js.snap
Labels: 🐛 Bug

#423 Não fechar modal (automaticamente) ao clicar no ok-button
  package-lock.json
  package.json
  src/components/Modal.vue
Labels: 🐛 Bug

#424 fix: desabilita ícone de fechar de acordo com prop
  package-lock.json
  package.json
  src/components/Modal.vue
Labels: 🐛 Bug

#425 Feature/appbar
  .storybook/preview.js
  package.json
  src/components/AppBar.vue
  src/components/Avatar.vue
  src/components/Chevron.vue
  src/components/Clickable.vue
  src/components/Divider.vue
  src/components/Icon.vue
  src/components/index.js
  src/stories/components/AppBar.stories.mdx
  src/stories/components/Avatar.stories.mdx
  src/stories/components/Chevron.stories.mdx
  src/stories/components/Clickable.stories.mdx
  src/stories/components/Divider.stories.mdx
  src/stories/components/Modal.stories.mdx
  tests/unit/AppBar.spec.js
  tests/unit/Avatar.spec.js
  tests/unit/Chevron.spec.js
  tests/unit/Clickable.spec.js
  tests/unit/Divider.spec.js
  tests/unit/__snapshots__/AppBar.spec.js.snap
  tests/unit/__snapshots__/Avatar.spec.js.snap
  tests/unit/__snapshots__/Chevron.spec.js.snap
  tests/unit/__snapshots__/Clickable.spec.js.snap
  tests/unit/__snapshots__/Divider.spec.js.snap
Labels: 🧱 Componente

#431 feat: Cria componente AvatarGroup
  src/assets/sass/colors.scss
  src/components/Avatar.vue
  src/components/AvatarGroup.vue
  src/stories/components/Avatar.stories.mdx
  src/stories/components/AvatarGroup.stories.mdx
Labels: 🧩 Token

#434 Feature/date input redesign
  src/components/Chevron.vue
  src/components/DateInput.vue
Labels: 🐛 Bug

#273 v3.0.0
  package-lock.json
  package.json
  src/assets/sass/colors.scss
  src/components/Alert.vue
  src/components/Avatar.vue
  src/components/AvatarGroup.vue
  src/components/Badge.vue
  src/components/Button.vue
  src/components/Checkbox.vue
  src/components/Chevron.vue
  src/components/Clickable.vue
  src/components/DateInput.vue
  src/components/Divider.vue
  src/components/Dropdown.vue
  src/components/Highlight.vue
  src/components/Icon.vue
  src/components/Link.vue
  src/components/Modal.vue
  src/components/Multiselect.vue
  src/components/Pagination.vue
  src/components/Popover.vue
  src/components/Radio.vue
  src/components/Select.vue
  src/components/Slider.vue
  src/components/Spinner.vue
  src/components/Stepper.vue
  src/components/Switch.vue
  src/components/Table.vue
  src/components/Tabs.vue
  src/components/Timeline.vue
  src/components/Tooltip.vue
  src/components/Truncate.vue
  src/components/index.ts
  src/stories/components/Avatar.stories.mdx
  src/stories/components/AvatarGroup.stories.mdx
  src/stories/components/Popover.stories.mdx
  src/tests/__snapshots__/ActionBar.spec.ts.snap
  src/tests/__snapshots__/AlertCard.spec.ts.snap
  src/tests/__snapshots__/Badge.spec.ts.snap
  src/tests/__snapshots__/Button.spec.ts.snap
  src/tests/__snapshots__/CarouselController.spec.ts.snap
  src/tests/__snapshots__/Checkbox.spec.ts.snap
  src/tests/__snapshots__/CollapsibleContainer.spec.ts.snap
  src/tests/__snapshots__/EmptyState.spec.ts.snap
  src/tests/__snapshots__/RadioButtonGroup.spec.ts.snap
  src/tests/__snapshots__/StepperInput.spec.ts.snap
  src/tests/__snapshots__/Table.spec.ts.snap
  src/tests/__snapshots__/Tabs.spec.ts.snap
  src/tests/__snapshots__/TextInput.spec.ts.snap
  src/tests/__snapshots__/TimeInput.spec.ts.snap
Labels: 🧩 Token, 🔥 Breaking change, 🤝🏽 Help Wanted, ⛓️ Dependências
