Repository Sysvale/cuida, pull requests merged in 2023-06, with the labels that each got.

#519 Fix/page header font size
  package.json
  src/components/PageHeader.vue
Labels: 🐛 Bug

#521 Atribui 'fluid' ao PanelCard e corrige container de Box de acordo com a prop fluid
  package.json
  src/components/Box.vue
  src/components/PanelCard.vue
Labels: 🐛 Bug

#533 Hotfix/box overflow
  package-lock.json
  package.json
  src/components/Box.vue
Labels: 🐛 Bug

#532 Adiciona componente Wizard (para processo em etapas)
  package.json
  src/components/Wizard.vue
  src/components/index.ts
  src/stories/components/Wizard.stories.mdx
  src/tests/Wizard.spec.ts
  src/tests/__snapshots__/Wizard.spec.ts.snap
Labels: 🧱 Componente, 🛠️ Build

#530 feat: color picker
  package.json
  src/assets/sass/colors.module.scss
  src/assets/sass/tokens.scss
  src/components/Badge.vue
  src/components/ColorPicker.vue
  src/components/Popover.vue
  src/components/Scrollable.vue
  src/stories/components/ColorPicker.stories.mdx
  src/tests/ColorPicker.spec.ts
  src/tests/__snapshots__/ColorPicker.spec.ts.snap
  src/utils/constants/colors.js
  src/utils/constants/paleteConstants.js
  src/utils/directives/cdsFloatify.js
  src/utils/methods/contrastChecker.js
  src/utils/methods/hasSlot.js
  src/utils/validators/time.js
  vite.config.ts
Labels: 🛠️ Build, 🧩 Token

#523 Hotfix/input disabled states
  package.json
  src/components/Checkbox.vue
  src/components/DateInput.vue
  src/components/NumberInput.vue
  src/components/SearchInput.vue
  src/components/Select.vue
  src/components/TimeInput.vue
Labels: 🐛 Bug

#540 Fix/remove slot from upload input
  package.json
  src/components/UploadInput.vue
Labels: 🐛 Bug

#543 Adiciona prop 'disableNextButton' e adiciona prevent nas ações do Wizard
  package.json
  src/components/Wizard.vue
Labels: 🐛 Bug
