Repository Sysvale/cuida, pull requests merged in 2023-02, with the labels that each got.

#439 Fix/labeler workflow
  .github/labeler.yml
  package.json
Labels: 🛠️ Build

#438 feature/spacer
  src/components/Spacer.vue
  src/components/index.ts
  src/stories/components/Spacer.stories.mdx
  src/tests/Spacer.spec.ts
  src/tests/__snapshots__/Spacer.spec.ts.snap
Labels: 🧱 Componente, 🛠️ Build

#442 Feature/pulsar
  .storybook/preview.js
  package.json
  src/components/Pulsar.vue
  src/components/index.ts
  src/stories/components/Pulsar.stories.mdx
  src/utils/directives/cdsFloatify.js
Labels: 🧱 Componente, 🛠️ Build

#444 fix/popover-target-update
  package.json
  src/components/Popover.vue
Labels: 🐛 Bug

#443 fix: Corrige exibição da logo da Sysvale na AppBar
  package.json
  src/components/AppBar.vue
Labels: 🐛 Bug

#450 Feature/timeline redesign
  package.json
  src/components/Timeline.vue
  src/components/TimelineItem.vue
  src/components/index.ts
  src/stories/components/Timeline.stories.mdx
  src/stories/components/TimelineItem.stories.mdx
  src/tests/__snapshots__/Timeline.spec.ts.snap
  src/utils/methods/hasSlot.js
Labels: 🧱 Componente, 🛠️ Build

#446 fix/release-workflow
  .github/workflows/release.yml
  package.json
Labels: 🛠️ Build

#451 Fix/release workflow identation
  .github/workflows/release.yml
  package.json
Labels: 🛠️ Build

#445 feature/deploy-workflow-for-v2
  .github/workflows/deployV2.yml
  package.json
Labels: 🛠️ Build

#447 feat: Cria componente Image
  package.json
  src/components/Image.vue
  src/components/index.ts
  src/stories/components/Image.stories.mdx
Labels: 🧱 Componente, 🛠️ Build

#452 Feature/box border colors
  package.json
  src/assets/sass/colors.scss
  src/components/Avatar.vue
  src/components/Box.vue
  src/components/Image.vue
  src/components/Pagination.vue
  src/components/Pulsar.vue
  src/components/Slider.vue
  src/components/Spinner.vue
  src/components/TimelineItem.vue
  src/stories/components/Box.stories.mdx
  src/utils/methods/rounder.js
Labels: 🧩 Token

#454 Adiciona prop para visualizar o linkText
  package.json
  src/components/TextInput.vue
Labels: 🐛 Bug

#456 Separa prop de desabilitar para cada botão do footer
  package.json
  src/components/Modal.vue
Labels: 🐛 Bug

#461 Cria componente PasswordInput
  package.json
  src/components/PasswordInput.vue
  src/components/index.ts
  src/stories/components/PasswordInput.stories.mdx
  src/tests/PasswordInput.spec.ts
  src/tests/__snapshots__/PasswordInput.spec.ts.snap
Labels: 🧱 Componente, 🛠️ Build

#463 Interrompe propagação de clique no backdrop do Popover
  package-lock.json
  package.json
  src/components/Popover.vue
Labels: 🐛 Bug

#467 Seta a versão do node no Deployer
  .github/workflows/deploy.yml
  package.json
Labels: 🛠️ Build

#459 Remove altura fixa de tooltip
  package.json
  src/components/Tooltip.vue
Labels: 🐛 Bug
