Repository Sysvale/cuida, pull requests merged in 2023-03, with the labels that each got.

#469 fix: corrige depoloy de publicação do pacote NPM
  .github/workflows/publish.yml
  package.json
Labels: 🛠️ Build

#464 Adiciona prop para disponibilidade do FileInput
  package.json
  src/components/FileInput.vue
Labels: 🐛 Bug

#474 Fix/select behaviour when clicking outside
  package-lock.json
  package.json
  src/components/Select.vue
Labels: 🐛 Bug

#476 fix: corrige identação do workflow deployV2
  .github/workflows/deployV2.yml
Labels: 🛠️ Build

#478 fix: corrige seleção do checkbox
  package.json
  src/components/Checkbox.vue
Labels: 🐛 Bug

#479 Fix/checkbox input selection
  package.json
  src/components/Checkbox.vue
Labels: 🐛 Bug

#481 Feature/floating assistant
  package.json
  src/components/FloatingAssistant.vue
  src/components/index.ts
  src/stories/components/FloatingAssistant.stories.mdx
Labels: 🧱 Componente, 🛠️ Build
