Repository Sysvale/cuida, pull requests merged in 2024-08, with the labels that each got.

#700 Feature/click outside bottom sheet
  package.json
  src/components/BottomSheet.vue
  src/components/FileViewer.vue
Labels: 🐛 Bug

#701 Bugfix/close bottom sheet
  package.json
  src/components/BottomSheet.vue
Labels: 🐛 Bug

#702 Feature/show sidebar itens when collapsed
  package.json
  src/components/RichTooltip.vue
  src/components/SideBar.vue
  src/stories/components/RichTooltip.stories.mdx
  src/stories/components/SideBar.stories.mdx
  src/tests/__snapshots__/SideBar.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#703 Feature/pin input mobile
  package.json
  src/components/PinInput.vue
Labels: 🐛 Bug

#704 Feature/disable tab change
  package.json
  src/components/InnerTabs.vue
  src/stories/components/InnerTabs.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#705 hotfix: faz ajuste para testar funcionamento do envio de anúncio de r…
  .github/workflows/rocket.yml
  package.json
Labels: 🐛 Bug, 📃 Documentação, 🛠️ Build

#706 Feature/mobile stepper input
  package.json
  src/components/MobileStepperInput.vue
  src/components/StepperInput.vue
  src/stories/components/StepperInput.stories.mdx
  src/tests/MobileStepperInput.spec.js
  src/tests/__snapshots__/MobileStepperInput.spec.js.snap
  src/utils/constants/validationStates.js
  src/utils/validators/state.js
Labels: 🐛 Bug, 📃 Documentação

#707 hotfix: corrige overflow do cds-box que fazia com que o border-radius…
  package.json
  src/components/Box.vue
Labels: 🐛 Bug

#709 Feature/improve release workflow
  .github/workflows/release.yml
  package.json
Labels: 🐛 Bug, 📃 Documentação, 🛠️ Build

#710 Remove o click do último elemento (tela atual) do breadcrumb
  package.json
  src/components/Breadcrumb.vue
  src/tests/__snapshots__/Breadcrumb.spec.ts.snap
Labels: 🐛 Bug

#708 Feature/checkbox group
  package.json
  src/components/CheckboxGroup.vue
  src/components/index.ts
  src/stories/components/CheckboxGroup.stories.mdx
  src/tests/Checkbox.spec.ts
  src/tests/CheckboxGroup.spec.ts
  src/tests/__snapshots__/Checkbox.spec.ts.snap
  src/tests/__snapshots__/CheckboxGroup.spec.ts.snap
  src/utils/methods/variantClassResolver.js
  src/utils/validators/variant.js
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#712 Fix/release action syntax
  .github/workflows/release.yml
  package.json
Labels: 🐛 Bug, 📃 Documentação, 🛠️ Build

#711 Feature/radio group variants
  package.json
  src/components/RadioButtonGroup.vue
  src/stories/components/RadioButtonGroup.stories.mdx
  src/tests/__snapshots__/RadioButtonGroup.spec.ts.snap
  src/utils/constants/colors.js
Labels: 🐛 Bug, 📃 Documentação

#713 Feature/round prop to cds image
  package.json
  src/components/Image.vue
  src/stories/components/Image.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#714 Adiciona ID dinâmico ao RadioButtonGroup
  package.json
  src/components/RadioButtonGroup.vue
  src/tests/RadioButtonGroup.spec.ts
  src/tests/__snapshots__/RadioButtonGroup.spec.ts.snap
Labels: 🐛 Bug

#715 Bugfix/hidden secondary navigation when doesnt have items on page layout
  package.json
  src/components/PageLayout.vue
Labels: 🐛 Bug

#716 Feature/mobile plugin util
  package.json
  src/stories/utils/IsDeviceType.stories.mdx
  src/utils/methods/isDeviceType.js
Labels: 📃 Documentação

#718 Feature/add loading indicator
  package.json
  src/components/LoadingIndicator.vue
  src/components/index.ts
  src/stories/components/DialogModal.stories.mdx
  src/stories/components/LoadingIndicator.stories.mdx
  src/tests/LoadingIndicator.spec.ts
  src/tests/__snapshots__/LoadingIndicator.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build
