Repository Sysvale/cuida, pull requests merged in 2024-06, with the labels that each got.

#641 feat: implementa RadialBarChart
  package.json
  src/assets/sass/colors.module.scss
  src/components/RadialBarChart.vue
  src/components/index.ts
  src/stories/components/RadialBarChart.stories.mdx
  src/tests/RadialBarChart.spec.ts
  src/tests/__snapshots__/RadialBarChart.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build, 🧩 Token

#640 Bugfix/botton sheet border
  package-lock.json
  package.json
  src/components/BottomSheet.vue
  src/tests/__snapshots__/BottomSheet.spec.ts.snap
Labels: 🐛 Bug

#642 chore: atualiza o package lock
  package-lock.json
  package.json
Labels: 🐛 Bug, 📃 Documentação

#644 Feature/disable external scrolls to bottom sheet
  package.json
  src/components/BottomSheet.vue
Labels: 🐛 Bug

#647 Adiciona o modo sticky na navegação mobile
  package-lock.json
  package.json
  src/components/MobileNavigation.vue
  src/stories/components/MobileNavigation.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#649 feat: permite adicionar máscara no number input
  package.json
  src/components/NumberInput.vue
Labels: 🐛 Bug

#650 Bugfix/fix bottom sheet down effect
  package.json
  src/components/BottomSheet.vue
Labels: 🐛 Bug

#645 Hotfix/search input clear button
  package.json
  src/components/SearchInput.vue
Labels: 🐛 Bug

#653 feat: implementa formatações nas colunas da tabela
  package-lock.json
  package.json
  src/components/Table.vue
  src/stories/components/Table.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#652 Feature/remove side bar collapsed logo
  package.json
  src/components/SideBar.vue
  src/stories/components/SideBar.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#651 Feature/remove mobile navigation main logo
  package.json
  src/components/MobileNavigation.vue
  src/stories/components/MobileNavigation.stories.mdx
  src/tests/__snapshots__/MobileNavigation.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#654 fix: resolve o problema da reatividade do item ativo no MobileNavigation
  package.json
  src/components/MobileNavigation.vue
Labels: 🐛 Bug

#656 Bugfix/mobile navigation icon
  package.json
  src/components/MobileNavigation.vue
  src/tests/__snapshots__/MobileNavigation.spec.ts.snap
Labels: 🐛 Bug

#657 Fix/donut chart label
  package.json
  src/components/DonutChart.vue
Labels: 🐛 Bug

#655 Bugfix/empty state mobile
  package.json
  src/components/EmptyState.vue
Labels: 🐛 Bug

#658 feat: implementa temas na stackedBarChart
  package.json
  src/components/FloatingAssistant.vue
  src/components/LineChart.vue
  src/components/StackedBarChart.vue
  src/stories/components/StackedBarChart.stories.mdx
  src/stories/components/Table.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#646 Hotfix/text input append area
  package.json
  src/components/TextInput.vue
  src/tests/__snapshots__/StepperInput.spec.ts.snap
  src/tests/__snapshots__/Table.spec.ts.snap
  src/tests/__snapshots__/Tabs.spec.ts.snap
  src/tests/__snapshots__/TextInput.spec.ts.snap
Labels: 🐛 Bug

#660 Feature/inline labels in dropdown select components
  package.json
  src/components/FilterSelect.vue
  src/stories/components/FilterSelect.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#662 build: corrige exportação de componentes FilterSelect e InlineDateInput
  package.json
  src/components/index.ts
Labels: 🐛 Bug, 🧱 Componente, 🛠️ Build

#664 feat: implementa o OverlayLoader
  .storybook/preview-body.html
  package.json
  src/components/OverlayLoader.vue
  src/components/index.ts
  src/stories/components/OverlayLoader.stories.mdx
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#665 feat: adiciona novo tamanho para o avatar
  package.json
  src/components/Avatar.vue
  src/stories/components/Avatar.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#663 fix: Ajusta lógica de collapse de itens da sidebar que possuem subitens
  package.json
  src/components/SideBar.vue
  src/tests/__snapshots__/SideBar.spec.ts.snap
Labels: 🐛 Bug

#668 Bugfix/fix active item on mobile navigation
  package.json
  src/components/MobileNavigation.vue
Labels: 🐛 Bug

#669 fix: corrige problema do active item
  package.json
  src/components/MobileNavigation.vue
Labels: 🐛 Bug

#670 Feature/spinner delay
  package.json
  src/components/SideBar.vue
  src/components/Spinner.vue
  src/stories/components/Spinner.stories.mdx
  src/tests/Spinner.spec.ts
  src/tests/__snapshots__/Spinner.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#671 Bugfix/change inputs placeholder color
  package.json
  src/components/NumberInput.vue
  src/components/TextArea.vue
  src/components/TextInput.vue
Labels: 🐛 Bug

#672 feature/target-in-gauge-chart
  package.json
Labels: 🐛 Bug, 📃 Documentação

#673 feat: implementa RichTooltips
  package.json
  src/components/RichTooltip.vue
  src/stories/components/RichTooltip.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#674 Feature/tooltip in gauge chart
  package.json
  src/components/GaugeChart.vue
  src/components/RichTooltip.vue
  src/stories/components/GaugeChart.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#675 Feature/mobile multiselect prop
  package.json
  src/components/Multiselect.vue
  src/components/TextInput.vue
Labels: 🐛 Bug

#659 Atualiza documentação do componente
  src/components/Divider.vue
Labels: 🐛 Bug

#676 Bugfix/fix big filename
  package.json
  src/components/FileInput.vue
Labels: 🐛 Bug

#677 Bugfix/adjust magin from empty state
  package.json
  src/components/EmptyState.vue
Labels: 🐛 Bug

#678 Feature/text input type
  package.json
  src/components/FileInput.vue
  src/components/TextInput.vue
  src/stories/components/TextInput.stories.mdx
  src/tests/__snapshots__/StepperInput.spec.ts.snap
  src/tests/__snapshots__/Table.spec.ts.snap
  src/tests/__snapshots__/Tabs.spec.ts.snap
  src/tests/__snapshots__/TextInput.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#680 feat: passa a emitir evento quando o botão de collapse da sidebar é c…
  package.json
  src/components/SideBar.vue
  src/stories/components/SideBar.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#679 fix: verificação da mensagem de erro do tipo de arquivo
  package.json
  src/components/FileInput.vue
Labels: 🐛 Bug

#681 Bugfix/fix error message condition
  package.json
  src/components/FileInput.vue
Labels: 🐛 Bug
