Repository Sysvale/cuida, pull requests merged in 2024-09, with the labels that each got.

#720 Implementa componente chip
  package.json
  src/components/Chip.vue
  src/stories/components/Chip.stories.mdx
  src/tests/Chip.spec.ts
  src/tests/__snapshots__/Chip.spec.ts.snap
  src/utils/constants/colors.js
Labels: 🐛 Bug, 📃 Documentação

#721 feat: registra/exporta component cds-chip
  package.json
  src/components/index.ts
Labels: 🐛 Bug, 🧱 Componente, 🛠️ Build

#723 Adiciona suporte a exibição de barra na horizontal do componente BarChart
  package.json
  src/components/BarChart.vue
Labels: 🐛 Bug

#724 Hotfix/inputs ids
  package.json
  src/components/NumberInput.vue
  src/components/PasswordInput.vue
  src/components/TextArea.vue
  src/components/TextInput.vue
  src/stories/components/NumberInput.stories.mdx
  src/tests/PasswordInput.spec.ts
  src/tests/StepperInput.spec.ts
  src/tests/Table.spec.ts
  src/tests/Tabs.spec.ts
  src/tests/TextInput.spec.ts
  src/tests/__snapshots__/PasswordInput.spec.ts.snap
  src/tests/__snapshots__/StepperInput.spec.ts.snap
  src/tests/__snapshots__/Table.spec.ts.snap
  src/tests/__snapshots__/Tabs.spec.ts.snap
  src/tests/__snapshots__/TextInput.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#725 fix: adiciona watch no valor do mask para atualizar dinamicamente
  package.json
  src/components/TextInput.vue
Labels: 🐛 Bug

#726 Adiciona cálculo variável para o tamanho do container dependendo da existência ou não de itens de navegação
  package.json
  src/components/PageLayout.vue
Labels: 🐛 Bug

#727 feat: implementa prop que controla overflow do componente Box
  package.json
  src/components/Box.vue
  src/stories/components/Box.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#728 Bugfix/multiselect options default value
  package.json
  src/components/Multiselect.vue
Labels: 🐛 Bug
