Repository Sysvale/cuida, pull requests merged in 2024-12, with the labels that each got.

#780 fix/vue-slider-component-dependency
  package-lock.json
  package.json
  src/components/Slider.vue
  src/components/index.ts
  src/stories/components/Slider.stories.mdx
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#779 Feature/webcam input
  package-lock.json
  package.json
  src/assets/sass/elevation.scss
  src/components/Modal.vue
  src/components/SideSheet.vue
  src/components/WebcamModal.vue
  src/components/index.ts
  src/docs-components/Elevation.vue
  src/stories/components/WebcamModal.stories.mdx
  src/tests/WebcamModal.spec.ts
  src/tests/__snapshots__/WebcamModal.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build, 🧩 Token

#781 Bugfix/fix prevent of buttons on webcam modal
  package.json
  src/components/WebcamModal.vue
Labels: 🐛 Bug

#783 Feature/dropdown ghost prop
  package.json
  src/components/DropdownButton.vue
Labels: 🐛 Bug

#785 Bugfix/sidebar emits
  package.json
  src/components/SideBar.vue
Labels: 🐛 Bug
