Repository Sysvale/cuida, pull requests merged in 2024-07, with the labels that each got.

#682 [bugfix] Corrige funcionamento do componente Pin Input
  package.json
  src/components/PinInput.vue
Labels: 🐛 Bug

#683 Bugfix/fix fileupload validation
  package.json
  src/components/FileInput.vue
Labels: 🐛 Bug

#684 fix: atualiza a versão do cudia e corrige erro
  package.json
  src/components/FileInput.vue
Labels: 🐛 Bug

#686 Bugfix/minor changes
  package.json
  src/components/FileInput.vue
  src/components/PasswordInput.vue
  src/components/TextInput.vue
Labels: 🐛 Bug

#685 Feature/add file viewer
  package-lock.json
  package.json
  src/components/FileViewer.vue
  src/components/index.ts
  src/stories/components/FileViewer.stories.mdx
  src/tests/FileViewer.spec.ts
  src/tests/__snapshots__/FileViewer.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#688 Bugfix/fix computed error message in fileupload
  package.json
  src/components/FileInput.vue
Labels: 🐛 Bug

#689 fix: corrige container do bottom sheet
  package.json
  src/components/BottomSheet.vue
Labels: 🐛 Bug

#690 Feature/dropdown button
  package.json
  src/components/Chevron.vue
  src/components/DropdownButton.vue
  src/components/index.ts
  src/stories/components/DropdownButton.stories.mdx
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#691 Bugfix/file viewer mobile
  package.json
  src/components/FileViewer.vue
  src/tests/__snapshots__/FileViewer.spec.ts.snap
Labels: 🐛 Bug

#648 Hotfix/nav bar active item
  package.json
  src/components/NavBar.vue
Labels: 🐛 Bug

#693 Bugfix/correct file extension detection in file viewer
  package.json
  src/components/FileViewer.vue
  src/stories/components/FileViewer.stories.mdx
  src/tests/__snapshots__/SideBar.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#696 Hotfix/select highlight
  package.json
  src/components/Select.vue
Labels: 🐛 Bug

#697 hotfix: corrige erro no pageheader quando o subtitle não é informado
  package.json
  src/components/PageHeader.vue
Labels: 🐛 Bug

#698 feat: implementa prop para controlar a exibição do target no GaugeChart
  package.json
  src/components/GaugeChart.vue
  src/stories/components/GaugeChart.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#699 feat: cria prop para controlar estado da Sidebar
  package.json
  src/components/SideBar.vue
  src/stories/components/SideBar.stories.mdx
Labels: 🐛 Bug, 📃 Documentação
