Repository Sysvale/cuida, pull requests merged in 2024-05, with the labels that each got.

#587 Bugfix/text area disabled fluid
  package.json
  src/components/TextArea.vue
Labels: 🐛 Bug

#620 Hotfix/minor fixes
  package.json
  src/components/Alert.vue
  src/components/Modal.vue
Labels: 🐛 Bug

#622 Feature/secondary navigation
  package.json
  src/components/SecondaryNavigation.vue
  src/tests/SecondaryNavigation.ts
Labels: 🐛 Bug, 📃 Documentação

#623 Adiciona o comportamento de colapsar a sidebar e o tema claro
  package.json
  src/components/SideBar.vue
  src/stories/components/SideBar.stories.mdx
  src/tests/__snapshots__/SideBar.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#624 fix: resolve o problema de colapsar a sidebar e os ícones ficarem peq…
  src/components/SideBar.vue
Labels: 🐛 Bug

#626 Feature/sidebar collapse icons
  package-lock.json
  package.json
  src/utils/constants/iconsData.js
Labels: 🐛 Bug, 📃 Documentação

#627 fix: muda os icones de expandir e colapsar a sidebar
  package-lock.json
  package.json
  src/components/SideBar.vue
Labels: 🐛 Bug

#625 Feature/page layout component
  package.json
  src/components/PageLayout.vue
  src/components/SecondaryNavigation.vue
  src/stories/components/PageLayout.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#628 fix: resolve o problema do click no item da sidebar
  package.json
  src/components/SideBar.vue
Labels: 🐛 Bug

#629 feat: dá suporte a múltiplas cores no stacked bar chart
  package-lock.json
  package.json
  src/components/StackedBarChart.vue
  src/components/index.ts
  src/stories/components/StackedBarChart.stories.mdx
  src/tests/__snapshots__/StackedBarChart.spec.ts.snap
  src/utils/methods/paleteBuilder.js
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#631 Bugfix/register page layout
  package.json
  src/components/index.ts
Labels: 🐛 Bug, 🧱 Componente, 🛠️ Build

#630 Feature/dialog modal
  package.json
  src/components/DialogModal.vue
  src/components/index.ts
  src/stories/components/DialogModal.stories.mdx
  src/tests/DialogModal.spec.ts
  src/tests/SecondaryNavigation.ts
  src/tests/__snapshots__/DialogModal.spec.ts.snap
  src/tests/__snapshots__/SecondaryNavigation.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#632 Feature/add mobile navigation
  package.json
  src/components/MobileNavigation.vue
  src/components/SecondaryNavigation.vue
  src/components/index.ts
  src/stories/components/MobileNavigation.stories.mdx
  src/tests/MobileNavigation.spec.ts
  src/tests/__snapshots__/MobileNavigation.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#634 fix: exporta o donut chart
  package.json
  src/components/index.ts
Labels: 🐛 Bug, 🧱 Componente, 🛠️ Build

#637 feat: implementa temas no donut chart
  package-lock.json
  package.json
  src/assets/sass/colors.module.scss
  src/components/DonutChart.vue
  src/stories/components/DonutChart.stories.mdx
Labels: 🐛 Bug, 📃 Documentação, 🧩 Token

#638 feat: implementa temas no linechart
  package.json
  src/assets/sass/colors.module.scss
  src/components/LineChart.vue
  src/stories/components/LineChart.stories.mdx
Labels: 🐛 Bug, 📃 Documentação, 🧩 Token

#639 feat: torna disponíveis externamente propriedades de configuração do …
  package-lock.json
  package.json
  src/assets/sass/colors.module.scss
  src/components/LineChart.vue
  src/stories/components/LineChart.stories.mdx
Labels: 🐛 Bug, 📃 Documentação, 🧩 Token

#635 Feature/mobile inputs
  package.json
  src/components/PasswordInput.vue
  src/components/Select.vue
  src/components/TextInput.vue
Labels: 🐛 Bug

#636 Feature/bottom sheet
  package.json
  src/components/BottomSheet.vue
  src/components/index.ts
  src/stories/components/BottomSheet.stories.mdx
  src/tests/BottomSheet.spec.ts
  src/tests/__snapshots__/BottomSheet.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build
