Repository Sysvale/cuida, pull requests merged in 2024-11, with the labels that each got.

#753 Exporta o componente
  package.json
  src/components/index.ts
Labels: 🐛 Bug, 🧱 Componente, 🛠️ Build

#755 Bugfix/quick action bar size
  package.json
  src/components/QuickActionBar.vue
Labels: 🐛 Bug

#756 Bugfix/quick action bar behaviour
  package.json
  src/components/QuickActionBar.vue
  src/tests/__snapshots__/QuickActionBar.spec.ts.snap
Labels: 🐛 Bug

#757 Bugfix/loading quick action bar
  package.json
  src/components/QuickActionBar.vue
  src/stories/components/QuickActionBar.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#758 Bugfix/quick action items empty
  package.json
  src/components/QuickActionBar.vue
Labels: 🐛 Bug

#760 Bugfix/table header sortable indicator
  package.json
  src/components/Table.vue
Labels: 🐛 Bug

#759 feature/highlight-in-substrings
  package.json
  src/components/Highlight.vue
  src/stories/components/Highlight.stories.mdx
  src/tests/__snapshots__/Highlight.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#762 Bugfix/quick action highlight items
  package.json
  src/components/QuickActionBar.vue
Labels: 🐛 Bug

#764 fix: passa a desconsiderar acentos na comparação das strings
  package.json
  src/components/Highlight.vue
  src/stories/components/Highlight.stories.mdx
  src/tests/__snapshots__/Highlight.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#765 bugfix/quick action bar trailling spaces
  package.json
  src/components/QuickActionBar.vue
  src/stories/components/QuickActionBar.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#766 Implementa a prop de número de resultados da busca
  package.json
  src/components/QuickActionBar.vue
Labels: 🐛 Bug

#768 feat: adds searchbar button
  package.json
  src/components/SideBar.vue
  src/stories/components/SideBar.stories.mdx
  src/tests/__snapshots__/SideBar.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#770 feat: Implementa prop de tamanho fluid ao Stepper Input
  package.json
  src/components/StepperInput.vue
  src/stories/components/StepperInput.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#771 Bugfix/dev script
  index.html
  package-lock.json
  package.json
  src/main.ts
Labels: 🐛 Bug, 📃 Documentação

#772 Feature/footer slot quick action
  package.json
  src/components/QuickActionBar.vue
  src/tests/__snapshots__/QuickActionBar.spec.ts.snap
Labels: 🐛 Bug

#775 fix/sidebar-search-when-collapsed
  package.json
  src/components/SideBar.vue
Labels: 🐛 Bug

#773 Bugfix/docs event description
  package.json
  src/components/FileInput.vue
  src/components/FilterSelect.vue
  src/components/Pagination.vue
  src/components/PasswordInput.vue
  src/components/Radio.vue
  src/components/RadioButtonGroup.vue
  src/components/Select.vue
  src/components/Slider.vue
  src/components/StepperInput.vue
  src/components/Switch.vue
  src/components/TextArea.vue
  src/components/TextInput.vue
  src/tests/__snapshots__/Radio.spec.ts.snap
Labels: 🐛 Bug

#776 Bugfix/fix quick action bar scroll
  package.json
  src/components/QuickActionBar.vue
  src/tests/__snapshots__/QuickActionBar.spec.ts.snap
Labels: 🐛 Bug

#777 fix: coloca a chamada da função no lugar correto
  package.json
  src/components/QuickActionBar.vue
Labels: 🐛 Bug

#778 Bufigx/delay on quick action scroll
  package.json
  src/components/QuickActionBar.vue
Labels: 🐛 Bug
