Repository Sysvale/cuida, pull requests merged in 2024-10, with the labels that each got.

#729 Fix/sidebar-void-link
  package.json
  src/components/SideBar.vue
  src/tests/__snapshots__/SideBar.spec.ts.snap
Labels: 🐛 Bug

#731 Feature/sidesheet body structure
  package.json
  src/components/Scrollable.vue
  src/components/SideSheet.vue
  src/stories/components/SideSheet.stories.mdx
  src/tests/__snapshots__/Scrollable.spec.ts.snap
  src/tests/__snapshots__/Select.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#732 Fix/sidebar ok button
  package.json
  src/components/Scrollable.vue
  src/components/SideSheet.vue
  src/stories/components/SideSheet.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#733 Corrige link quebrado do site ThisPersonDoesNotExist
  package.json
  src/stories/components/Avatar.stories.mdx
Labels: 📃 Documentação

#734 Fix/sidebar x button
  src/components/SideSheet.vue
Labels: 🐛 Bug

#735 Fix/sidesheet close
  package.json
  src/components/Clickable.vue
  src/components/SideSheet.vue
Labels: 🐛 Bug

#736 Bugfix/box cds vertical fluid
  package.json
  src/components/Box.vue
  src/stories/components/Box.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#738 Bugfix/box vertical fluid prop
  package.json
  src/components/Box.vue
  src/stories/components/Box.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#740 Fix/scrollable padding
  package.json
  src/components/Scrollable.vue
Labels: 🐛 Bug

#741 Bugfix/clickable component width
  package.json
  src/components/Clickable.vue
Labels: 🐛 Bug

#742 Feature/secondary navigation component
  package.json
  src/components/index.ts
Labels: 🐛 Bug, 🧱 Componente, 🛠️ Build

#744 Adiciona opção de popover ao clicar no perfil na sidebar
  package.json
  src/components/PageLayout.vue
  src/components/Popover.vue
  src/components/SideBar.vue
  src/tests/__snapshots__/SideBar.spec.ts.snap
Labels: 🐛 Bug

#745 Esconde popover do perfil ao clicar em uma opção
  package.json
  src/components/SideBar.vue
Labels: 🐛 Bug

#746 Feature/nowrap table
  package.json
  src/components/Table.vue
Labels: 🐛 Bug

#743 Feature/grid
  .storybook/preview-body.html
  package.json
  src/components/Grid.vue
  src/components/GridItem.vue
  src/components/index.ts
  src/stories/components/Grid.stories.mdx
  src/style.css
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#747 feat: Implementa componente FlexBox
  package.json
  src/components/Flexbox.vue
  src/components/index.ts
  src/stories/components/Flexbox.stories.mdx
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#748 Bugfix/floating assistant animation
  package.json
  src/components/FloatingAssistant.vue
Labels: 🐛 Bug

#749 fix/icon-button-after-click
  package.json
  src/components/IconButton.vue
Labels: 🐛 Bug

#750 Bugfix/floating assistant animation
  package.json
  src/components/FloatingAssistant.vue
Labels: 🐛 Bug

#751 Bugfix/floating assistant confirmation container
  package.json
  src/components/FloatingAssistant.vue
Labels: 🐛 Bug
