Repository Sysvale/cuida, pull requests merged in 2025-05, with the labels that each got.

#918 Feature/add component combobox
  package.json
  src/components/BaseInput.vue
  src/components/ComboBox.vue
  src/components/index.ts
  src/stories/components/Combobox.stories.mdx
  src/tests/__snapshots__/BaseInput.spec.js.snap
  src/tests/__snapshots__/DateInput.spec.js.snap
  src/tests/__snapshots__/NumberInput.spec.js.snap
  src/tests/__snapshots__/Select.spec.js.snap
  src/tests/__snapshots__/TextInput.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#920 Hotfix/combo box click outside
  package-lock.json
  package.json
  src/components/ComboBox.vue
Labels: 🐛 Bug

#921 Hotfix/fix checkbox value of combobox
  package.json
  src/components/ComboBox.vue
  src/stories/components/Combobox.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#922 Hotfix/fix combobox component
  package.json
  src/components/ComboBox.vue
  src/stories/components/Combobox.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#923 Hotfix/fix emit of combobox
  package.json
  src/components/ComboBox.vue
Labels: 🐛 Bug

#924 refactor: Ajusta valueField das opções do checkbox para se tornarem d…
  package.json
  src/components/ComboBox.vue
Labels: 🐛 Bug

#926 Feature/addable select
  package.json
  src/components/Select.vue
  src/stories/components/Select.stories.mdx
  src/tests/__snapshots__/Select.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação

#927 feat: adiciona nova categoria de ícones "Type & Content"
  package-lock.json
  package.json
  src/docs-components/Iconography.vue
  src/utils/constants/iconsData.js
Labels: 🐛 Bug, 📃 Documentação

#928 feat: adiciona o ícone de parágrafo ao conjunto de ícones disponíveis…
  package-lock.json
  package.json
  src/utils/constants/iconsData.js
Labels: 🐛 Bug, 📃 Documentação

#930 Feature/table header fixed
  package.json
  src/components/Table.vue
  src/stories/components/Table.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#933 Updates next branch
  .github/workflows/publish-next.yml
  .storybook/preview-body.html
  package-lock.json
  package.json
  src/components/Avatar.vue
  src/components/BaseInput.vue
  src/components/BaseMobileInput.vue
  src/components/ComboBox.vue
  src/components/DateInput.vue
  src/components/IconButton.vue
  src/components/Image.vue
  src/components/InnerTabs.vue
  src/components/InternalComponents/MonthSelectorGrid.vue
  src/components/InternalComponents/YearSelectorGrid.vue
  src/components/MonthAndYearPicker.vue
  src/components/Multiselect.vue
  src/components/Popover.vue
  src/components/RadioButtonGroup.vue
  src/components/Select.vue
  src/components/Table.vue
  src/components/TextInput.vue
  src/components/index.ts
  src/docs-components/Iconography.vue
  src/stories/components/Combobox.stories.mdx
  src/stories/components/DateInput.stories.mdx
  src/stories/components/InnerTabs.stories.mdx
  src/stories/components/MonthAndYearPicker.stories.mdx
  src/stories/components/Select.stories.mdx
  src/stories/components/Table.stories.mdx
  src/stories/components/TextInput.stories.mdx
  src/tests/DateInput.spec.js
  src/tests/InnerTabs.spec.ts
  src/tests/__snapshots__/BaseInput.spec.js.snap
  src/tests/__snapshots__/BaseMobileInput.spec.js.snap
  src/tests/__snapshots__/DateInput.spec.js.snap
  src/tests/__snapshots__/NumberInput.spec.js.snap
  src/tests/__snapshots__/Select.spec.js.snap
  src/tests/__snapshots__/TextInput.spec.js.snap
  src/utils/composables/useDropdownPosition.js
  src/utils/constants/iconsData.js
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#934 Feature/data table component
  package.json
  src/components/DataTable.vue
  src/components/Table.vue
  src/stories/components/DataTable.stories.mdx
  src/tests/DataTable.spec.ts
  src/tests/__snapshots__/DataTable.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#936 Bugfix/data table slots
  package.json
  src/components/DataTable.vue
  src/stories/components/DataTable.stories.mdx
  src/tests/__snapshots__/DataTable.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#937 fix: adiciona emit de click no botão de customizar tabela
  package.json
  src/components/DataTable.vue
  src/stories/components/DataTable.stories.mdx
Labels: 🐛 Bug, 📃 Documentação
