Repository Sysvale/cuida, pull requests merged in 2025-03, with the labels that each got.

#866 Feature/text component
  package.json
  src/components/Text.vue
  src/components/index.ts
  src/stories/components/Text.stories.mdx
  src/tests/Text.spec.js
  src/tests/__snapshots__/Text.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#870 Fix/flat button click event
  package.json
  src/components/FlatButton.vue
  src/stories/components/FlatButton.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#869 Feature/multiinput
  package.json
  src/components/BaseInput.vue
  src/components/DynamicInputList.vue
  src/components/Label.vue
  src/components/TextInput.vue
  src/components/index.ts
  src/stories/components/DynamicInputList.stories.mdx
  src/stories/components/Label.stories.mdx
  src/tests/DynamicInputList.spec.js
  src/tests/__snapshots__/BaseInput.spec.js.snap
  src/tests/__snapshots__/DateInput.spec.js.snap
  src/tests/__snapshots__/NumberInput.spec.js.snap
  src/tests/__snapshots__/Select.spec.js.snap
  src/tests/__snapshots__/TextInput.spec.js.snap
  src/tests/__snapshots__/Textarea.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#871 Feature/add fluid tile component
  package.json
  src/components/Tile.vue
  src/stories/components/Tile.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#872 Hotfix/fix fluid clickable
  package.json
  src/components/Box.vue
  src/components/Clickable.vue
  src/components/Spacer.vue
  src/components/Tile.vue
  src/stories/components/BaseInput.stories.mdx
  src/stories/components/Label.stories.mdx
  src/tests/__snapshots__/Breadcrumb.spec.ts.snap
  src/tests/__snapshots__/Table.spec.ts.snap
  src/tests/__snapshots__/Tile.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#874 Feature/refactor radio button group
  package.json
  src/components/RadioButtonGroup.vue
  src/stories/components/RadioButtonGroup.stories.mdx
  src/tests/__snapshots__/RadioButtonGroup.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#877 Bugfix/fix clickoutside directive
  package-lock.json
  package.json
  src/components/BottomSheet.vue
  src/components/Dialog.vue
  src/components/DialogModal.vue
  src/components/Dropdown.vue
  src/components/DropdownButton.vue
  src/components/FilterSelect.vue
  src/components/FloatingAssistant.vue
  src/components/Modal.vue
  src/components/Popover.vue
  src/components/RichTooltip.vue
  src/components/SideBar.vue
Labels: 🐛 Bug

#878 Bugfix/fix sidebar profile click
  package.json
  src/components/SideBar.vue
Labels: 🐛 Bug

#880 Bugfix/fix modal click outside
  .storybook/preview.js
  package.json
  src/components/Modal.vue
  src/components/index.ts
  src/utils/directives/cdsClickOutside.js
Labels: 🐛 Bug, 🧱 Componente, 🛠️ Build

#876 Bugfix/fix responsivity by tile
  package.json
  src/components/Tile.vue
  src/stories/components/Tile.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#879 Bugfix/fix back nagivation top app bar
  package.json
  src/components/TopAppBar.vue
Labels: 🐛 Bug

#881 Feature/mobile nav bar active item
  package.json
  src/components/MobileNavbar.vue
  src/stories/components/MobileNavbar.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#883 Bugfix/close on backdrop modal
  package.json
  src/components/Modal.vue
Labels: 🐛 Bug

#884 Fix/select interaction with form wizzard
  package.json
  src/components/Select.vue
Labels: 🐛 Bug

#885 fix: corrige erro de timezone que bugava as props de max e min dates
  package.json
  src/components/DateInput.vue
Labels: 🐛 Bug

#886 Bugfix/flat button native event
  package.json
  src/components/FlatButton.vue
  src/stories/components/FlatButton.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#888 feat: exporta as diretivas
  package.json
  src/components/index.ts
Labels: 🐛 Bug, 🧱 Componente, 🛠️ Build

#889 Fix/date input manual entry
  package.json
  src/components/DateInput.vue
Labels: 🐛 Bug

#891 test: atualiza teste de snapshot do DateInput
  src/tests/__snapshots__/DateInput.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação

#890 ci: cria workflow para publicação de versões "next"
  .github/workflows/publish-next.yml
Labels: 🐛 Bug, 📃 Documentação, 🛠️ Build

#892 Bugfix/accept other units on image size
  package-lock.json
  package.json
  src/components/Image.vue
Labels: 🐛 Bug
