Repository Sysvale/cuida, pull requests merged in 2025-08, with the labels that each got.

#987 Feature/elevation and spacing token classes
  package.json
  src/assets/sass/legacy-tokens/elevation.scss
  src/assets/sass/legacy-tokens/spacing.scss
  src/assets/sass/tokens/_elevation.scss
  src/assets/sass/tokens/_spacing.scss
Labels: 🐛 Bug, 📃 Documentação, 🧩 Token

#984 fix: 🐛 corrige atualização da quantidade de páginas e utiliza com…
  package-lock.json
  package.json
  src/components/Pagination.vue
  src/stories/components/Pagination.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#990 fix/pagination-reactivity
  package.json
  src/components/Pagination.vue
Labels: 🐛 Bug

#988 feat: :sparkles: chip composition api + icon persistance and position…
  package-lock.json
  package.json
  src/components/Chip.vue
  src/stories/components/Chip.stories.mdx
  src/tests/__snapshots__/Chip.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#991 Fix/date input invalid datetime
  package.json
  src/components/DateInput.vue
Labels: 🐛 Bug

#994 Fix/improves usability select and combobox
  package.json
  src/components/Select.vue
Labels: 🐛 Bug

#996 fix/support-link-default
  package.json
  src/components/BaseInput.vue
  src/components/BaseMobileInput.vue
  src/components/DateInput.vue
  src/components/DynamicInputList.vue
  src/components/Label.vue
  src/components/MonthAndYearPicker.vue
  src/components/NumberInput.vue
  src/components/RadioButtonGroup.vue
  src/components/Select.vue
  src/components/TextArea.vue
  src/components/TextInput.vue
  src/tests/__snapshots__/BaseInput.spec.js.snap
  src/tests/__snapshots__/BaseMobileInput.spec.js.snap
  src/tests/__snapshots__/DateInput.spec.js.snap
  src/tests/__snapshots__/NumberInput.spec.js.snap
  src/tests/__snapshots__/RadioButtonGroup.spec.ts.snap
  src/tests/__snapshots__/Select.spec.js.snap
  src/tests/__snapshots__/TextInput.spec.js.snap
  src/tests/__snapshots__/Textarea.spec.js.snap
Labels: 🐛 Bug
