Repository Sysvale/cuida, pull requests merged in 2025-04, with the labels that each got.

#897 Bugfix/fix popover click
  package.json
  src/components/Popover.vue
  src/tests/__snapshots__/DateInput.spec.js.snap
Labels: 🐛 Bug

#898 Bugfix/fix avatar click propagation
  package.json
  src/components/Avatar.vue
Labels: 🐛 Bug

#899 Feature/month and year picker
  package-lock.json
  package.json
  src/components/DateInput.vue
  src/components/MonthAndYearPicker.vue
  src/stories/components/MonthAndYearPicker.stories.mdx
  src/utils/composables/useDropdownPosition.js
Labels: 🐛 Bug, 📃 Documentação

#900 Fix/month and year picker docs
  package.json
  src/components/index.ts
  src/stories/components/MonthAndYearPicker.stories.mdx
Labels: 📃 Documentação, 🧱 Componente, 🛠️ Build

#901 refactor: implementa ajuste no BaseInput para evitar conflitos com o …
  package.json
  src/components/BaseInput.vue
  src/components/BaseMobileInput.vue
  src/components/DateInput.vue
  src/stories/components/DateInput.stories.mdx
  src/tests/DateInput.spec.js
  src/tests/__snapshots__/DateInput.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação

#903 fix: corrige exibição dos meses bloqueados por maxDate e minDate
  package.json
  src/components/MonthAndYearPicker.vue
  src/stories/components/MonthAndYearPicker.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#905 Resolve o problema do select estar repassando o evento emitido pelo baseInput de forma indesejada
  package-lock.json
  package.json
  src/components/Select.vue
Labels: 🐛 Bug

#907 Feture/input mode in date picker
  package.json
  src/components/DateInput.vue
  src/stories/components/DateInput.stories.mdx
  src/tests/__snapshots__/DateInput.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação

#910 Feature/inputs autocomplete support
  src/components/BaseInput.vue
  src/components/BaseMobileInput.vue
  src/components/Select.vue
  src/components/TextInput.vue
  src/stories/components/TextInput.stories.mdx
  src/tests/__snapshots__/BaseInput.spec.js.snap
  src/tests/__snapshots__/BaseMobileInput.spec.js.snap
  src/tests/__snapshots__/DateInput.spec.js.snap
  src/tests/__snapshots__/NumberInput.spec.js.snap
  src/tests/__snapshots__/Select.spec.js.snap
  src/tests/__snapshots__/TextInput.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação

#914 feat: exporta útil de uuid para uso externo
  package.json
  src/components/index.ts
Labels: 🐛 Bug, 🧱 Componente, 🛠️ Build

#915 Bugfix/tooltip text reactivity
  package.json
  src/components/IconButton.vue
Labels: 🐛 Bug
