Repository Sysvale/cuida, pull requests merged in 2025-01, with the labels that each got.

#786 Bugfix/tooltip icon button disabled
  package.json
  src/components/IconButton.vue
Labels: 🐛 Bug

#787 fix/input-backgrounds
  package.json
  src/components/DateInput.vue
  src/components/InlineDateInput.vue
  src/components/NumberInput.vue
  src/components/PasswordInput.vue
  src/components/SearchInput.vue
  src/components/StepperInput.vue
  src/components/Table.vue
  src/components/TextInput.vue
Labels: 🐛 Bug

#788 Bugfix/mobile prop date input
  package.json
  src/components/DateInput.vue
Labels: 🐛 Bug

#789 feature/expose-cuida-utils
  README.md
  package.json
  src/components/index.ts
Labels: 🐛 Bug, 🧱 Componente, 🛠️ Build

#790 Bugfix/radio button group label
  package.json
  src/components/RadioButtonGroup.vue
  src/stories/components/RadioButtonGroup.stories.mdx
  src/tests/__snapshots__/RadioButtonGroup.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#791 bugfix/cds-image-update
  package.json
  src/components/Image.vue
Labels: 🐛 Bug

#793 Feature/tag prop wrappers
  package.json
  src/components/Flexbox.vue
  src/components/Grid.vue
  src/stories/components/Flexbox.stories.mdx
  src/stories/components/Grid.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#794 fix: corrige funcionamento do hightlight com slot
  package.json
  src/components/Highlight.vue
  src/tests/__snapshots__/Highlight.spec.ts.snap
Labels: 🐛 Bug

#795 refactor/search-input-to-composition-api
  package-lock.json
  package.json
  src/components/SearchInput.vue
  src/stories/components/SearchInput.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#797 fix: Remove barra de scroll em dispositivos móveis
  package.json
  src/components/Scrollable.vue
Labels: 🐛 Bug

#796 feat: Implementa prop de arredondamento das bordas do tooltip
  package.json
  src/components/IconButton.vue
  src/components/Tooltip.vue
  src/stories/components/Tooltip.stories.mdx
  src/tests/__snapshots__/IconButton.spec.ts.snap
  src/utils/directives/cdstip.js
Labels: 🐛 Bug, 📃 Documentação

#800 fix: corrige o releaser para que o bot padrão do github apareça como …
  .github/workflows/release.yml
Labels: 🐛 Bug, 📃 Documentação, 🛠️ Build

#799 fix: Ajusta tempo da animação do BottomSheet para 0.3s
  package.json
  src/components/BottomSheet.vue
Labels: 🐛 Bug

#803 Feature/modal no close cancel
  package.json
  src/components/Modal.vue
  src/stories/components/Modal.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#802 Refactor/textinput to composition api
  .eslintrc.js
  src/components/TextInput.vue
  src/stories/components/TextInput.stories.mdx
Labels: 🐛 Bug, 📃 Documentação

#804 fix: corrige versão do node no test.yml para evitar incompatibilidade…
  .github/workflows/test.yml
  package.json
Labels: 🐛 Bug, 📃 Documentação, 🛠️ Build

#817 fix: Corrige equação do intervalo
  package.json
  src/components/LoadingIndicator.vue
Labels: 🐛 Bug

#819 fix: corrige erro no workflow de release que estava impedindo a criaç…
  .github/workflows/release.yml
  package.json
Labels: 🐛 Bug, 📃 Documentação, 🛠️ Build
