Repository Sysvale/cuida, pull requests merged in 2025-02, with the labels that each got.

#820 Corrige documentação do PageContainer
  package.json
  src/stories/components/PageContainer.stories.mdx
Labels: 📃 Documentação

#825 Feature/refactor text input
  package-lock.json
  package.json
  src/assets/sass/placeholders.scss
  src/assets/sass/utils.scss
  src/components/BaseInput.vue
  src/components/BaseMobileInput.vue
  src/components/TextInput.vue
  src/stories/components/BaseInput.stories.mdx
  src/stories/components/TextInput.stories.mdx
  src/tests/BaseInput.spec.js
  src/tests/BaseMobileInput.spec.js
  src/tests/__snapshots__/BaseInput.spec.js.snap
  src/tests/__snapshots__/BaseMobileInput.spec.js.snap
  src/utils/composables/useComponentEmits.js
  src/utils/composables/useHasSlot.js
  src/utils/constants/inputTypes.js
  src/utils/directives/cdsBRL.js
  src/utils/methods/uuidv4.js
  src/utils/validators/input.js
Labels: 🐛 Bug, 📃 Documentação, 🧩 Token

#826 Feature/list
  package.json
  src/components/List.vue
  src/components/index.ts
  src/stories/components/List.stories.mdx
  src/tests/List.spec.ts
  src/tests/__snapshots__/List.spec.ts.snap
  src/utils/composables/useIsMobile.js
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#830 Feature/top app bar component
  package.json
  src/components/TopAppBar.vue
  src/components/index.ts
  src/stories/components/TopAppBar.stories.mdx
  src/tests/TopAppBar.spec.ts
  src/tests/__snapshots__/TopAppBar.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#832 feature/lazy-prop-in-base-inputs
  package.json
  src/components/BaseInput.vue
  src/components/BaseMobileInput.vue
  src/components/TextInput.vue
  src/stories/components/BaseInput.stories.mdx
  src/tests/TextInput.spec.ts
  src/tests/__snapshots__/TextInput.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#838 Revert "chore(deps): bump braces, @storybook/addon-essentials, @storybook/builder-vite and webpack"
  package-lock.json
  package.json
Labels: 🐛 Bug, 📃 Documentação

#841 Revert "chore(deps): bump ws from 8.17.0 to 8.18.0"
  package-lock.json
Labels: 🐛 Bug, 📃 Documentação

#835 refactor/number-input
  package-lock.json
  package.json
  src/components/BaseMobileInput.vue
  src/components/NumberInput.vue
  src/stories/components/NumberInput.stories.mdx
  src/tests/NumberInput.spec.ts
  src/tests/__snapshots__/NumberInput.spec.ts.snap
  src/utils/directives/cdsBRL.js
Labels: 🐛 Bug, 📃 Documentação

#824 Feature/mobile navbar
  package.json
  src/components/MobileNavbar.vue
  src/components/index.ts
  src/stories/components/MobileNavbar.stories.mdx
  src/tests/MobileNavbar.spec.ts
  src/tests/__snapshots__/MobileNavbar.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#831 Feature/floating action button component
  package.json
  src/components/FloatingActionButton.vue
  src/components/index.ts
  src/stories/components/FloatingActionButton.stories.mdx
  src/tests/FloatingActionButton.spec.ts
  src/tests/__snapshots__/FloatingActionButton.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#843 Fix/sidesheet border when there is no overlay
  package-lock.json
  package.json
  src/components/SideSheet.vue
Labels: 🐛 Bug

#851 test: muda tipo do arquivo para não dar problemas de tipagem no pipel…
  src/tests/NumberInput.spec.js
  src/tests/TextInput.spec.js
  src/tests/__snapshots__/NumberInput.spec.js.snap
  src/tests/__snapshots__/TextInput.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação

#847 Bugfix/fix top app bar
  package.json
  src/components/TopAppBar.vue
  src/stories/components/TopAppBar.stories.mdx
  src/tests/__snapshots__/TopAppBar.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#846 Refactor/select
  package-lock.json
  package.json
  src/components/BaseInput.vue
  src/components/BaseMobileInput.vue
  src/components/Select.vue
  src/stories/components/BaseInput.stories.mdx
  src/stories/components/NumberInput.stories.mdx
  src/stories/components/Select.stories.mdx
  src/stories/components/TextInput.stories.mdx
  src/tests/Select.spec.ts
  src/tests/__snapshots__/BaseInput.spec.js.snap
  src/tests/__snapshots__/BaseMobileInput.spec.js.snap
  src/tests/__snapshots__/NumberInput.spec.js.snap
  src/tests/__snapshots__/NumberInput.spec.ts.snap
  src/tests/__snapshots__/Select.spec.ts.snap
  src/tests/__snapshots__/TextInput.spec.js.snap
  src/tests/__snapshots__/TextInput.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#853 Bugfix/inner tabs alignment
  package.json
  src/components/InnerTabs.vue
Labels: 🐛 Bug

#854 Bugfix/typescript tests
  package.json
  src/tests/Select.spec.js
  src/tests/__snapshots__/Select.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação

#855 Fix/select width
  package.json
  src/components/Select.vue
Labels: 🐛 Bug

#856 Fix/select container width
  package.json
  src/components/Select.vue
  src/stories/components/Select.stories.mdx
  src/tests/__snapshots__/Select.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação

#858 Bugfix/table checkbox text
  package.json
  src/components/Table.vue
Labels: 🐛 Bug

#861 Fix/select model
  package.json
  src/components/Select.vue
Labels: 🐛 Bug

#859 Feature/tile
  package.json
  src/components/Box.vue
  src/components/Tile.vue
  src/components/index.ts
  src/stories/components/Tile.stories.mdx
  src/tests/Tile.spec.ts
  src/tests/__snapshots__/Tile.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação, 🧱 Componente, 🛠️ Build

#845 Refactor/date input
  package-lock.json
  package.json
  src/assets/sass/placeholders.scss
  src/components/BaseInput.vue
  src/components/BaseMobileInput.vue
  src/components/DateInput.vue
  src/stories/components/DateInput.stories.mdx
  src/tests/DateInput.spec.js
  src/tests/__snapshots__/DateInput.spec.js.snap
  src/utils/composables/useClickOutside.js
  src/utils/composables/useComponentEmits.js
Labels: 🐛 Bug, 📃 Documentação, 🧩 Token

#863 Fix/number input model
  package.json
  src/components/NumberInput.vue
Labels: 🐛 Bug

#862 Adiciona skeleton de carregamento ao componente tile
  package.json
  src/components/Tile.vue
  src/stories/components/Tile.stories.mdx
  src/tests/Tile.spec.ts
  src/tests/__snapshots__/Tile.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação

#864 Bugfix/list actions slot
  package.json
  src/components/List.vue
  src/stories/components/List.stories.mdx
Labels: 🐛 Bug, 📃 Documentação
