Repository Sysvale/cuida, pull requests merged in 2025-06, with the labels that each got.

#943 Hotfix/fix target cds link
  package.json
  src/components/Link.vue
  src/tests/__snapshots__/DateInput.spec.js.snap
Labels: 🐛 Bug

#947 Feature/search input reborn
  package.json
  src/components/BaseInput.vue
  src/components/SearchInput.vue
  src/stories/components/SearchInput.stories.mdx
  src/tests/__snapshots__/BaseInput.spec.js.snap
  src/tests/__snapshots__/DateInput.spec.js.snap
  src/tests/__snapshots__/NumberInput.spec.js.snap
  src/tests/__snapshots__/Select.spec.js.snap
  src/tests/__snapshots__/TextInput.spec.js.snap
Labels: 🐛 Bug, 📃 Documentação

#950 Hotfix/data table spacers
  package.json
  src/components/DataTable.vue
Labels: 🐛 Bug

#951 Feature/input font family
  package.json
  src/assets/sass/placeholders.scss
  src/components/DateInput.vue
  src/components/FilterSelect.vue
  src/components/InlineDateInput.vue
  src/components/MobileStepperInput.vue
  src/components/PasswordInput.vue
  src/components/TimeInput.vue
Labels: 🐛 Bug, 🧩 Token

#953 feat: Adiciona prop state para gerenciar os estados do componente datatable
  package.json
  src/components/DataTable.vue
Labels: 🐛 Bug, 📃 Documentação

#958 fix/flexbox-default-width
  package.json
  src/components/Flexbox.vue
Labels: 🐛 Bug

#887 Bugfix/clickable badge
  package.json
  src/components/Badge.vue
Labels: 🐛 Bug

#959 fix/data-table-fixed-header
  package.json
  src/components/DataTable.vue
  src/components/Table.vue
  src/stories/components/DataTable.stories.mdx
  src/tests/DataTable.spec.ts
  src/tests/__snapshots__/DataTable.spec.ts.snap
  src/tests/__snapshots__/Table.spec.ts.snap
Labels: 🐛 Bug, 📃 Documentação
